# Secrets
**/secrets

# Assets - will need to have source control for eventually
data/assets
client/assets
client/www/assets

# Build artifacts
**/target
**/out
client/www/wasm*

# SQLite
**/.sqlx
**.sqlite
**.sqlite-wal
**.sqlite-shm

# Local Config
**/.cargo